<div class="container mt-5">
  <h1>Créer une nouvelle liste</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label: "Nom de la liste", placeholder: "Ma liste de films préférés" %>
    <%= f.button :submit, "Créer la liste", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Retour aux listes", lists_path, class: "btn btn-secondary mt-3" %>
</div>
